@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --background-start: 190 7.89% 85.1%;
    --background-end: 0, 0%, 100%;
    --foreground: 240 10% 20%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 35%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 20%;
    --primary: 240 5.9% 20%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 30%;
    --info: 207 90% 54%;
    --info-foreground: 210 40% 98%;
    --success: 122 39% 49%;
    --success-foreground: 210 40% 98%;
    --warning: 52.15, 100%, 46.47%;
    --warning-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.75rem;
  }

  .dark {
    --bg-color: 240 10% 13%;
    --fg-color: 240 10% 85%;
    --secondary-bg: 240 3.7% 19%;
    --primary-fg: 240 5.9% 15%;

    --background: var(--bg-color);
    --background-start: 0 0% 3%;
    --background-end: 10 8% 15%;
    --foreground: var(--fg-color);
    --card: var(--bg-color);
    --card-foreground: var(--fg-color);
    --popover: var(--bg-color);
    --popover-foreground: var(--fg-color);
    --primary: var(--fg-color);
    --primary-foreground: var(--primary-fg);
    --secondary: var(--secondary-bg);
    --secondary-foreground: var(--fg-color);
    --muted: var(--secondary-bg);
    --muted-foreground: 240 5% 74%;
    --accent: var(--secondary-bg);
    --accent-foreground: var(--fg-color);
    --info: 207 90% 54%;
    --info-foreground: 210 40% 90%;
    --success: 122 39% 49%;
    --success-foreground: 210 40% 90%;
    --warning: 52.15, 100%, 46.47%;
    --warning-foreground: 210 40% 90%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: var(--fg-color);
    --border: var(--secondary-bg);
    --input: var(--secondary-bg);
    --ring: 240 4.9% 83.9%;
  }

  @media (prefers-color-scheme: dark) {
    .system {
      --bg-color: 240 10% 13%;
      --fg-color: 240 10% 85%;
      --secondary-bg: 240 3.7% 19%;
      --primary-fg: 240 5.9% 15%;

      --background: var(--bg-color);
      --background-start: 0 0% 3%;
      --background-end: 10 8% 15%;
      --foreground: var(--fg-color);
      --card: var(--bg-color);
      --card-foreground: var(--fg-color);
      --popover: var(--bg-color);
      --popover-foreground: var(--fg-color);
      --primary: var(--fg-color);
      --primary-foreground: var(--primary-fg);
      --secondary: var(--secondary-bg);
      --secondary-foreground: var(--fg-color);
      --muted: var(--secondary-bg);
      --muted-foreground: 240 5% 74%;
      --accent: var(--secondary-bg);
      --accent-foreground: var(--fg-color);
      --info: 207 90% 54%;
      --info-foreground: 210 40% 90%;
      --success: 122 39% 49%;
      --success-foreground: 210 40% 90%;
      --warning: 52.15, 100%, 46.47%;
      --warning-foreground: 210 40% 90%;
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: var(--fg-color);
      --border: var(--secondary-bg);
      --input: var(--secondary-bg);
      --ring: 240 4.9% 83.9%;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    color: hsl(var(--foreground));
    background: linear-gradient(
            to bottom,
            transparent,
            hsl(var(--background-end))
    )
    hsl(var(--background-start));
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.project-table-button:hover .project-table-header-chevron-up-down {
  visibility: visible;
}
